{{ define "content"}}
<div class="res-cons">
    {{ if eq .Data.Singular "category" }}
    <h3 class="archive-title">
        分类
        <span class="keyword">{{ .Data.Term }}</span>
        中的文章
    </h3>
    {{ else if eq .Data.Singular "tag" }}
    <h3 class="archive-title">
        包含标签
        <span class="keyword">{{ .Data.Term }}</span>
        的文章
    </h3>
    {{ end }}

    {{ range .Paginator.Pages.GroupByDate "2006" }}
    <article class="post">
        <h2>{{ .Key }}</h2>
        <ul class="listing">
            {{ range .Pages }}
            <li>
                <span class="date">{{ .Date.Format "2006/01/02" }}</span>
                <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </article>
    {{ end }}

    {{ partial "paginator" . }}
</div>
{{ end }}