<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}zh-CN{{end}}">
{{ partial "head" . }}

<body>
  {{ partial "header" . }}
  <div id="body">
    {{ if .Site.Params.firework }}
    <canvas class="fireworks"></canvas>
    {{ end }}
    <div class="container">
      <div class="col-group">

        <div class="col-8" id="main">
          {{ block "content" . }}{{ end }}
        </div>
        <!-- remove sidebar in single post page with toc-->
        <!-- page's toc open or (site's toc open and page's toc is not false)-->
        {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
        {{ else }}
        <!-- no toc show sidebar -->
        {{ partial "sidebar" . }}
        {{ end }}
      </div>
    </div>
  </div>
  {{ partial "footer" . }}
</body>

</html>